@font-face {
  font-family: ' texgyrepagella-regular';
  font-style: normal;
  font-weight: 400;
  src: local('texgyrepagella-regular'), local('texgyrepagella-regular'),
       url('../fonts/texgyrepagella-regular.woff') format('woff');
}
@font-face {
  font-family: ' Source Han Sans CN';
  font-style: normal;
  font-weight: 400;
  src: local('Source Han Sans CN'), local('Source Han Sans CN'),
       url('../fonts/texgyrepagella-regular.woff') format('woff');
}
body {
  font-family: ' Source Han Sans CN', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Source Han Sans CN', sans-serif;
}
