/*
@font-face {
  font-family: 'texgyrepagella';
  font-style: normal;
  font-weight: 400;
  src: local('texgyrepagella'), local('texgyrepagella'),
       url('../fonts/texgyrepagella-regular.woff') format('woff');
}
*/
body, .nav, .article-duration, .archive-item-link, .footer, h1, h2, h3, h4, h5, h6  {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD",Georgia,"source-han-serif-sc","Source Han Serif SC","Source Han Serif CN","Source Han Serif TC","Source Han Serif TW","Source Han Serif","Songti SC","Microsoft YaHei",serif;
}



