@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'texgyrepagella';
  font-style: normal;
  font-weight: 400;
  src: local('texgyrepagella'), local('texgyrepagella'),
       url('../fonts/texgyrepagella-regular.woff') format('woff');
}
body {
  font-family: 'texgyrepagella', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Lato', sans-serif;
}

