  <center>
   <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=1660be&w=180&t=n&d=bLbRVCl6hpPrG3ydeBPnss5Icv_ZJXbokniqNe34m4M&co=f1f3ec&ct=808080&cmo=3acc3a&cmn=ff5353'></script>
  </center>

<footer class="footer">
        <ul class="footer-links">
            <a href="https://github.com/ECSTA7Y" class="footer-links-kudos"> <img src="{{ "images/git.svg" | relURL }}" alt=" " width="15" height="15"></a>
            <a href="https://www.linkedin.com/in/xiao-song-a1ab5318b/" class="footer-links-kudos"> <img src="{{ "images/linkedin.svg" | relURL }}" alt=" " width="15" height="15"></a>
            <a href="https://www.kaggle.com/rikdifos" class="footer-links-kudos"> <img src="{{ "images/kaggle.png" | relURL }}" alt=" " width="15.2" height="14.5"></a>
            <a href="https://xsong.ltd/zh/index.xml" class="footer-links-kudos"> <img src="{{ "images/rss.svg" | relURL }}" alt=" " width="14.5" height="15"></a>
        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}

  </body>
</html>